.my-card{
  max-width: 1000px !important;
  margin: auto !important;
  padding-top: 3vw;
}
:host ::ng-deep .form-control{
  background-color: #282828 !important;
  color: #ffffff;
  border-radius: 15px;
  border: 1px solid rgb(238, 96, 2);
}
