.p-table-container{

  margin:10%;
}

.content-row:hover{
  background-color: #5895f7a6 !important;
}

.header-field:hover{
  background-color: #5895f7a6 !important;
}

.ListHeaders th{
  background-color: #4286f45b ;
}
:host ::ng-deep .p-datatable-wrapper{
  border: 1px solid rgb(143, 136, 136);
}
.my-card{
  max-width: 1000px !important;
  margin: auto !important;
  padding-top: 5vw;
}
